/* Estilos generales del header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
    display: block;
  }
  
  .title {
    font-size: 30px;
    font-weight: 600;
    color: black;
  }