/* Estilos generales del header */
.header {
    padding: 20px;
    background-color: white;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 0%;
    padding-bottom: 0%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    width: 120px;
    height: auto;
    display: block;
    
  }
  
  .title {
    font-size: 30px;
    font-weight: 600;
    color: #2c3e50;
    
  }