<div class="mat-typography resumen-container">
  <h1>Resumen</h1>

  <div class="dashboard-grid">
    
    <div class="mat-card">
      <div class="card-icon">
        <mat-icon>laptop</mat-icon>
      </div>
      <div class="card-content">
        <div class="mat-card-title">Notebooks Totales</div>
        <div class="mat-card-content">{{ notebooksTotalesCount }}</div>
      </div>
    </div>

    <div class="mat-card">
      <div class="card-icon">
        <mat-icon>laptop_chromebook</mat-icon>
      </div>
      <div class="card-content">
        <div class="mat-card-title">Notebooks Disponibles</div>
        <div class="mat-card-content">{{ notebooksDisponiblesCount }}</div>
      </div>
    </div>

    <div class="mat-card">
      <div class="card-icon">
        <mat-icon>schedule</mat-icon>
      </div>
      <div class="card-content">
        <div class="mat-card-title">Préstamos Activos</div>
        <div class="mat-card-content">{{ prestamosActivos }}</div>
      </div>
    </div>

    <div class="mat-card">
      <div class="card-icon">
        <mat-icon>warning</mat-icon>
      </div>
      <div class="card-content">
        <div class="mat-card-title">Préstamos Pendientes</div>
        <div class="mat-card-content">{{ prestamosVencidos }}</div>
      </div>
    </div>

    <div class="mat-card">
      <div class="card-icon">
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="card-content">
        <div class="mat-card-title">Préstamos Finalizados</div>
        <div class="mat-card-content">{{ prestamosFinalizados }}</div>
      </div>
    </div>
  </div>

  
  <div class="mat-card resumen-card">
    <div class="mat-card-title">
      <mat-icon>history</mat-icon>
      Historial de préstamos de notebooks
    </div>
    <div class="mat-elevation-z2 table-container">
      <table class="full-width">
        <thead>
          <tr>
            <th>Alumno</th>
            <th>Notebook</th>
            <th>Fecha de Préstamo</th>
            <th>Fecha de Devolución</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of historialSolicitudes">
            <td><strong>{{ solicitud.student }}</strong>{{solicitud.studentDv ? ' | RUT: ' + solicitud.studentId + '-' + solicitud.studentDv : ''}}</td>
            <td>{{ solicitud.notebook }} <br><small class="serial-number">(S/N: {{ solicitud.notebookSerial }})</small></td>
            <td [innerHTML]="formatDate(solicitud.fechaPrestamo) | replace: '\n': '<br>'"></td>
            <td>
              <ng-container *ngIf="solicitud.estado === 'Activo'">
                <span *ngIf="!solicitud.isExpired">{{ solicitud.tiempoRestante || 'Calculando...' }}</span>
                <span *ngIf="solicitud.isExpired" class="tiempo-expirado">Tiempo vencido</span>
              </ng-container>
              <ng-container *ngIf="solicitud.estado !== 'Activo'">
                <span [innerHTML]="formatDate(solicitud.fechaDevolucion) | replace: '\n': '<br>'"></span>
              </ng-container>
            </td>
            <td>
              <span [ngClass]="{
                'activo': solicitud.estado === 'Activo' && !solicitud.isExpired,
                'pendiente': solicitud.estado === 'Activo' && solicitud.isExpired,
                'finalizado': solicitud.estado === 'Finalizado'
              }">
                {{ solicitud.isExpired && solicitud.estado === 'Activo' ? 'Pendiente' : solicitud.estado }}
              </span>
              <!-- Cartel BLOQUEADO en nueva línea -->
              <div *ngIf="solicitud.blocked" class="bloqueado-label">BLOQUEADO</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
